/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: currentColor;
}

ul, li, menu{
  list-style: none;
}

/* VAR */

:root{
  --head: 70px;
  --notifications: #A6D7F9;
}



/* DEBUG */

.debug .container{
  border: solid 4px greenyellow;
}

.debug #app{
  border: solid 4px coral;
}

.debug .navigator{
  background-color: aqua;
}

.debug .messages{
  background-color: rgb(255, 221, 0);
}

.debug .navigator .notifications{
  height: 80px;
}

.debug .navigator .nav-search{
  height: 50px;
  background-color: lightgray;
}

.debug .navigator .contact-cards li{
  height: 80px;
  background-color: cadetblue;
  border: 1px solid black;
}

.messages .mess-head{
  background-color: #EAEAEA;  
}

.messages .mess-content{
  background-color: #E3DED6;
}

.messages .mess-text-bar{
  background-color: rgb(255, 115, 0);
}



/*-------- LAYOUT --------*/

.container{
  height: 100vh;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

#app{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.navigator{
  height: 100%;
  display: none;
  overflow-y: auto;
}

.messages{
  flex-grow: 1;
  flex-direction: column;
}

/* NAVIGATOR */

.navigator .nav-head{
  height: var(--head);
  background-color: var(--head);
  padding: 10px 7px;
}

.navigator .card-img{
  display: block;
  border-radius: 50%;
}

.navigator .notifications{
  background-color: var(--notifications);
  display: none;
}

.navigator .nav-search{
  display: none;
}



/* MESSAGES */

.messages .mess-head, .messages .mess-text-bar{
  height: var(--head);
}

.messages .mess-content{
  flex-grow: 1;
  overflow-y: auto;
}

/* UTILITIES */

.flex{
  display: flex;
}


/* MEDIA QUERIES */

@media screen and (min-width: 576px){
  .navigator{
    display: block;
    width: 80px;
  }
}

@media screen and (min-width: 992px){
  .navigator{
    width:380px;
  }
  .navigator .notifications, .navigator .nav-search{
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  #app{
    width: 80%;
    margin: 0 auto;
  }
  
  .container{
    padding: 32px 0;
  }

  
}


